<!-- HomeIndex-->
<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4 mt-lg-0 mt-5">
        <div class="row align-items-center py-lg-5 py-4 mt-4">
            <div class="col-lg-6 col-sm-12 mt-lg-5">
                <h3 class="mb-4 title">
                    <span class="type-js"><span class="text-js">耐震A+</span></span><br>
                    守護你的家
                </h3>
                <div class="separatorhny"></div>
                <h4>政府足感心&nbsp;補強又補助&nbsp;<br><span style="color:#f3204c;">免費派員到社區輔導說明</span></h4>

                <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                    @*<a href="about.html" class="btn btn-style btn-white mr-lg-4 mr-sm-3"> Read More </a>*@
                    <a class="btn btn-primary btn-style" href="#Explain">更多資訊</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-8 col-sm-10 mt-lg-0 mt-5">
                <div class="banner-play-w3 text-lg-center">
                    <!--//video-->
                    <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center pl-3">
                        <span class="video-play-icon">
                            <span class="fa fa-play"></span>
                        </span>
                    </a>

                    <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/x4c1t-vhKXA"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <!--//video-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->
<!-- News -->
<div class="w3l-homeblog py-5" id="homeblog">
    <div class="container py-lg-5 py-md-4">
        <h6 class="sub-titlehny text-center">News</h6>
        <h3 class="hny-title mb-md-5 mb-4 pb-md-0 pb-2 text-center">最新消息</h3>
        <div class="row top-pics">
            <div class="col-lg-6 col-md-6">
                <div class="top-pic1">
                    <div class="card-body blog-details">
                        <p>公告</p>
                        <a href="blog-single.html" class="blog-desc">
                            耐震階段性補強宣導影片
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value">
                                        <span class="fa fa-clock-o"> 09 06, 2021 </span>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-md-0 mt-4">
                <div class="row">
                    <div class="col-md-6 top-1">
                        <div class="top-pic2">
                            <div class="card-body blog-details">
                                <p>新聞</p>
                                <a href="blog-single.html" class="blog-desc">
                                    建物耐震補強最高補助450萬，讓居住安全多一分保障
                                </a>
                                <div class="author align-items-center">
                                    <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value">
                                                <span class="fa fa-clock-o"> 09 06, 2021 </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 top-1 mt-md-0 mt-4">
                        <div class="top-pic3">
                            <div class="card-body blog-details">
                                <p>公告</p>
                                <a href="blog-single.html" class="blog-desc">
                                    耐震階段性補強行銷短片 Yahoo TV -鄉民出任務
                                </a>
                                <div class="author align-items-center">
                                    <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                                    <ul class="blog-meta">
                                        <li class="meta-item blog-lesson">
                                            <span class="meta-value">
                                                <span class="fa fa-clock-o"> 08 06, 2020 </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="readhny-btm text-center mx-auto mt-md-4">
                <a class="btn btn-primary btn-style mt-md-5 mt-4" asp-controller="Home" asp-action="News">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- //News-->
<!-- 向地震災害記取教訓 S6 -->
<div class="middle py-5" id="LFE">
    <div class="container py-md-4">
        <div class="welcome-left text-left py-lg-4">
            <h3 class="hny-title mb-4">
                臺灣隨時面臨的地震威脅
            </h3>
            <div class="separatorhny"></div>
            <p class="pr-lg-5 mr-lg-5">
                &emsp;&emsp;根據國家地震工程研究中心研究指出，全台約有860萬人居住在第一類活動斷層兩側10公里範圍內，
                顯示島內人民受地震風險危害的機率較高，應即時強化建築結構安全，防範地震災害。
            </p>
            <a asp-controller="About" asp-action="LFE" class="btn btn-style btn-white mt-sm-5 mt-4 mr-2">看更多...</a>
        </div>
    </div>
</div>
<!-- 耐震補強說明 S2 -->
<section class="w3l-bottom-grids-6 py-5" id="Explain">
    <div class="container py-lg-5 py-md-4">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-7 features-lefthny">
                <div class="row">
                    <!-- /feature-left-->
                    <div class="col-md-6 grids-feature">
                        <div class="area-box">
                            <span class="fa fa-video-camera"></span>
                            <h4><a href="@Url.Action("Explain","About")#Info_explain" class="title-head">耐震階段性補強</a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 grids-feature mt-sm-0 mt-4">
                        <div class="area-box">
                            <span class="fa fa-tasks"></span>
                            <h4><a href="@Url.Action("Explain","About")#Example" class="title-head">補強案例說明</a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 grids-feature mt-4">
                        <div class="area-box">

                            <span class="fa fa-pencil-square-o"></span>
                            <h4><a href="@Url.Action("Explain","About")#PlanA" class="title-head">耐震階段性補強A方案</a></h4>
                        </div>
                    </div>
                    <div class="col-md-6 grids-feature mt-4">
                        <div class="area-box">

                            <span class="fa fa-users"></span>
                            <h4><a href="@Url.Action("Explain","About")#PlanB" class="title-head">耐震階段性補強B方案</a></h4>
                        </div>
                    </div>
                </div>
                <!-- //feature-left-->
            </div>
            <div class="col-lg-5 features-rightthny mt-lg-0 mt-5 pl-lg-5">
                @*<h3 class="hny-title mb-4">We found our creative space that is open for you.</h3>*@
                <h3 class="hny-title mb-4">私有建物耐震階段性補強<br />詳細說明</h3>
                <div class="separatorhny"></div>
                <p>
                    耐震階段性補強是過渡期的防災預防措施，是為了讓居民在實施都更拆除重建或完整補強前，
                    需要漫長之等待時期內，能夠盡速提升建築物耐震能力，避免整合意見之等待期間內發生大地震。
                    換言之，在居民因意見尚未整合完全、搬遷安置及籌措經費問題而需長時間等待時，可優先進行階段性補強。
                </p>
                <a asp-controller="About" asp-action="Explain" class="btn btn-primary btn-style mt-md-5 mt-4">更多資訊</a>
            </div>

        </div>
    </div>
</section>
<!-- 耐震專業資訊 S3 -->
<section class="w3l-servicesblock py-5" id="ProInfo">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6 about-right-faq align-self mt-lg-0 mt-sm-5 mt-4 pl-lg-5">
                <h3 class="hny-title mb-4">耐震補強專業資訊</h3>
                <div class="separatorhny"></div>
                <p class="">
                    一般結構物之耐震補強工法眾多，大致可分為下列方法：
                </p>
                <div class="two-grids mt-md-0 mt-md-5 mt-4">
                    <div class="grids_info">
                        <h4>補強建築物結構元件：</h4>
                        <p class="">
                            擴大原有梁斷面補強、RC梁之下緣貼片包覆補強、擴大原有柱斷面補強、既有柱貼片包覆補強、...
                        </p>
                    </div>
                    <div class="grids_info">
                        <h4>改善建築物結構系統：</h4>
                        <p class="">
                            增設耐力構架、增設RC翼牆、增設RC剪力牆或加厚原有剪力牆、增設PC版或鋼板等之補強壁體、...
                        </p>
                    </div>
                </div>
                <a asp-controller="About" asp-action="ProInfo" class="btn btn-style btn-primary mt-sm-5 mt-4">更多資訊</a>
            </div>
            <div class="col-lg-3 col-6 left-wthree-img">
                <img src="/assets/images/activities/ProInfo-1.jpg" alt="" class="img-fluid radius-image">
                &nbsp;
                <img src="/assets/images/activities/ProInfo-3.jpg" alt="" class="img-fluid radius-image">
            </div>
            <div class="col-lg-3 col-6 left-wthree-img">
                <img src="/assets/images/activities/ProInfo-2.jpg" alt="" class="img-fluid radius-image">
                &nbsp;
                <img src="/assets/images/activities/ProInfo-4.jpg" alt="" class="img-fluid radius-image">
            </div>
        </div>
    </div>
</section>
<!-- 申請補助 <about>S4 -->
<section class="w3l-form-25-section" id="Subsidy">
    <!-- /form-25-section -->
    <div class="form-25-mian">
        <div class="container py-5">
            <div class="row subscription-grids py-5">
                <div class="col-lg-7 subscription-left forms-25-info">
                    <div class="header-title">
                        <h3 class="p-0">
                            讓我們開始補強吧
                        </h3>
                    </div>
                </div>
                <div class="col-lg-5 subscription-right pl-lg-5 mt-lg-0 mt-4 text-lg-right">
                    <a asp-controller="Allowance" asp-action="Index" class="btn btn-style btn-white mr-lg-4 mr-sm-3">➥</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 空白Container -->
<div class="content-1 py-5">
    <div class="container"></div>
</div>
<!-- 常見問題 S5 -->
<div class="container" id="Questions">
    <div class="text11-content">
        <img src="assets/images/activities/QA.jpg" class="img-fluid radius-image" alt="">
        <h4 class="mt-4 mb-3">
            1.&nbsp;什麼是私有建築物耐震階段性補強? 辦理耐震階段性補強的好處 ？
        </h4>
        <p class="mb-3">
            &emsp;&emsp;有鑑於過去歷次大地震倒塌的建築物，其倒塌主要原因係軟弱層之破壞模式，若能於建築物底層增加補強構件，提供短期緊急處置措施，即可大幅降低建物於大地震來襲時瞬間崩塌之風險。
        </p>
        <p class="mb-4">
            &emsp;&emsp;因此，耐震階段性補強其目的，乃在排除建築物底層軟弱層破壞之短期緊急性處理措施，僅需花費較少的經費，即可大幅降低建物於大地震來襲時瞬間崩塌的風險，以降低倒塌或大規模傷亡的機率，達到確保生命安全之目的。
        </p>
        <h4 class="mt-4 mb-3">
            2.&nbsp;為什麼要做耐震補強？
        </h4>
        <p class="mb-3">
            &emsp;&emsp;因臺灣地震頻繁，地震災害的發生時常造成民眾生命財產的損失，房屋隨著屋齡增加造成強度老化或耐震設計法規的更新等因素，部分早期興建的房子可能潛在耐震能力不足，將使其於地震來襲時承受較大的風險。為防患於未然，一定年限之老舊房屋有必要進行耐震補強，來提升建築物的耐震能力。
        </p>
        <p class="mb-4">
            &emsp;&emsp;為協助民眾改善房屋的耐震能力，本部已委託國家地震中心訂定「耐震階段性補強設計手冊」，並自108年提供耐震階段性補強補助經費，協助民眾改善住宅之結構安全。
        </p>
        <h4 class="quote">
            3.&nbsp;我家的房屋想辦理私有建築物耐震階段性補強，有無相關專業單位提供協助&nbsp;？
        </h4>
        <div class="sing-post-thumb mb-lg-5 mb-4 row pt-3">
            <div class="col-lg-3 col-6">
                <a href="#url"><img src="assets/images/activities/paper.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="col-lg-3 col-6">
                <a href="#url"><img src="assets/images/activities/subsidy.jpg" class="img-fluid" alt=""></a>
            </div>
            <div class="col-md-6 mt-md-0 mt-3 align-self">
                <p class="">
                    &emsp;&emsp;為協助民眾辦理私有建築物耐震階段性補強作業，內政部營建署已委託國家地震工程研究中心成立私有建築物階段性補強之專案辦公室，提供民眾耐震階段性補強相關的資訊與協助，並可免費申請該中心派員至貴社區說明耐震階段性補強之相關內容，使住戶更瞭解辦理耐震階段性補強的好處。
                    私有建築物階段性補強專案辦公室聯絡電話：(02)6630-0237或可參考階段性補強網頁之<a href="@Url.Action("Index","Contact")#contact">「聯絡我們」</a>專區。
                </p>
            </div>
        </div>
        <h4 class="mb-4">
            4.&nbsp;我想申請私有建築物耐震階段性補強，政府有補助嗎 ？
        </h4>
        <p class="mb-4">
            &emsp;&emsp;為協助民眾提昇建築物結構安全，內政部營建署依據行政院核定之「全國建築物耐震安檢暨輔導重建補強計畫」，
            109年計畫補助辦理私有建築物耐震階段性補強約250件，請有意申請之民眾可向房屋座落之縣市政府詢問申請。
        </p>
        <h4 class="mb-4">
            5.&nbsp;109年度各縣市政府補助之私有建築物耐震階段性補強件數 ？
        </h4>
        <p class="my-3">
            109年度各縣市政府私有建築物耐震階段性補強之補助件數如下：
        </p>
    </div>
</div>
<!-- stats -->
<section class="w3_stats py-5" id="stats">
    <div class="container py-md-4">
        <div class="w3-stats">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-clone"></span>
                        <div class="timer count-title count-number mt-3" data-to="15100" data-speed="1500"></div>
                        <p class="count-text">Total Projects</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-video-camera"></span>
                        <div class="timer count-title count-number mt-3" data-to="19256" data-speed="1500"></div>
                        <p class="count-text ">Conferences</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-3" data-to="12100" data-speed="1500"></div>
                        <p class="count-text">Happy Clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="2560" data-speed="1500"></div>
                        <p class="count-text">
                            Satisfied
                            Partners
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- 閱讀更多 -->
<div class="container" id="Questions">
    <div class="text11-content">
        <div class="item mt-5">
            <h3 class="aside-title">更多常見問題 </h3>
            <div class="row">
                <div class="col-md-6 mt-4">
                    <div class="list-view list-view1">
                        <div class="grids5-info">
                            <a asp-controller="About" asp-action="QA" class="d-block zoom"><img src="assets/images/QA1.jpg" alt="" class="img-fluid radius-image news-image"></a>
                            <div class="bottom mt-4">
                                <div>
                                    <h4 class="">6.&nbsp;私有建築物耐震階段性補強之補強標準為何 ？</h4>
                                </div>

                            </div>
                            <div class="blog-info align-self">
                                <a asp-controller="About" asp-action="QA" class="blog-desc1">
                                    &emsp;<br />
                                    閱讀更多...
                                    &emsp;<br />
                                </a>
                                <p>&emsp;<br /></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="list-view list-view1">
                        <div class="grids5-info">
                            <a asp-controller="About" asp-action="QA" class="d-block zoom"><img src="assets/images/QA2.jpg" alt="" class="img-fluid radius-image news-image"></a>
                            <div class="bottom mt-4">
                                <div>
                                    <h4 class="">7.&nbsp;私有建築物耐震階段性補強之補助比例、補助上限為何 ？</h4>
                                </div>

                            </div>
                            <div class="blog-info align-self">
                                <a asp-controller="About" asp-action="QA" class="blog-desc1">
                                    &emsp;<br />
                                    閱讀更多...
                                    &emsp;<br />
                                </a>
                                <p>&emsp;<br /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

