@model PaginatedList<PrivateBuilding_LTS.Models.New>

<body>
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span> Blog</li>
                </ul>
            </div>
        </section>
    </div>
    <!-- about page about section -->
    <div class="w3l-homeblog py-5" id="services">
        <div class="container py-lg-5 py-md-4">
            <h4 class="sub-titlehny">Our Posts</h4>
            <h3 class="hny-title mx-0 mb-4 text-left">最新消息</h3>
            <div class="separatorhny"></div>
            <p class="sup-ser-para mb-sm-5 mb-4">

            </p>
            @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="sup-ser-para">
                                <a asp-action="News" asp-route-sortOrder="@ViewData["DateSortParm"]">發佈日期</a>
                            </th>
                            <th class="sup-ser-para">
                                <a asp-action="News" asp-route-sortOrder="@ViewData["NameSortParm"]">類型</a>
                            </th>
                            <th class="sup-ser-para">
                                公告主旨
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td width="10%" class="sup-ser-para">@m.PostDate</td>
                                <td width="10%" class="sup-ser-para">@m.Type</td>
                                <td width="30%" class="sup-ser-para">@m.Title</td>
                            </tr>
                        }
                    </tbody>
                </table> 
            }
            else
            {
            <p>No items created yet</p>
            }
            @{ 
               var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
               var nextDisabled = !Model.HasNextPage ? "disabled" : ""; 
            }

            <a asp-action="News"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-default sup-ser-para @prevDisabled">
                Previous
            </a>
            <a asp-action="News"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-default sup-ser-para @nextDisabled">
                Next
            </a>
        </div>
    </div>
    <!--//blog-->

</body>
